# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
*.egg
dist/
build/

# Virtualenv
venv/
.venv/

# Django
db.sqlite3
staticfiles/
media/

# IDE
.idea/
.vscode/

# Secrets
.env
secret.json

